@media (max-width: 1200px) {
    body .wrapper main .blockFAQ .contentTop .content h3 {
        font-size: 42px;
    }

}

@media (max-width: 900px) {
    body .wrapper main .blockFAQ .contentTop .content h3 {
        font-size: 35px;
    }

}

@media (max-width: 750px) {
    body .wrapper main .blockFAQ .backgroundImageColor {
        width: 100%;
        top: 0;
    }

    body .wrapper main .blockFAQ .questionsBlock {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
    }

    body .wrapper main .blockFAQ .questionsBlock .questions {
        display: flex;
        align-content: center;
        flex-direction: column;
        min-width: auto;
        align-items: center;
    }

    body .wrapper main .blockFAQ .questionsBlock .questionContainer {
        width: 100%;
    }

    body .wrapper main .blockFAQ .questionsBlock .questionContainer .question {
        justify-content: space-around;
        min-width: auto;
    }

    body .wrapper main .blockFAQ .questionsBlock .questionContainer .question p {
        width: 50%;
        padding: 10px;
        font-size: 15px;
        line-height: 20px;
        margin-right: 5px;
    }

    .questionsBlock {
        width: 97%;
    }
}


@media (max-width: 850px) {
    body .wrapper main .blockFAQ .contentTop .content h3 {
        font-size: 25px;
    }

    body .wrapper main .blockFAQ .contentTop .content {
        width: 90%;
    }

    body .wrapper main .blockFAQ .questions {
        padding-top: 10px;
    }

    body .wrapper main .blockFAQ .contentTop {
        padding-top: 120px;
    }
}

@media (max-width: 770px) {
    body .wrapper main .blockFAQ {
        margin-top: 0;
    }
}

@media (max-width: 700px) {
    .questionsBlock {
        padding-top: 17vw;
        padding-bottom: 16vw;
    }

    body .wrapper main .blockFAQ .contentTop {
        padding-top: 101px;
    }
}

@media (max-width: 520px) {
    body .wrapper main .blockFAQ .contentTop {
        padding-top: 59px;
    }
}
